.down { /* SVG indiquant de scroll */
    margin-top: 400px;
}

html {
    background-image: url("https://ibb.co/jTckt94");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
}