#bloc_page {
    width: 900px;
    margin: auto;
}

.Intro {
    height: 150px;
    border: 1px solid black;
    text-align: justify;
    padding: 12px;
}

h1 {
    text-transform: uppercase;
    margin-top: 225px;
}

h3 {
    font-style: italic;
}